body{
    /*-webkit-background-size: 100vw;*/
    /*background-size: 100vw;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*width: 1200px;*/
    /*height: 800px;*/

    /*background-image: url("/resources/QLinepics/QLine-FOX.jpg");*/

    background: url("/resources/QLinepics/QLine-FOX.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #15e6cd;
}
h1 {

    font-family: "SansSerif";
    font-size: 52px;
    color: #fff2cc;

}
h2 {
    font-family: "Raleway", serif;
    font-size: 32px;
    color: #fff2cc;
}


table {
    border-collapse: collapse;
    width: 100%;
}
a{

}